
@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


*{
  font-family: 'Inter', sans-serif;
}

:root {
    --color-base: #0F172A;
    --color-white: #fff;
    --height-button: 48px;
    --radious-custom: 3px;
}


